:host {
  .card-body {
    cursor: pointer;

    p.h2 small {
      font-size: 18px;
      color: #bbb8b8;
    }
  }

  .card-header {
    border: none;
    background: transparent;
    height: 100px;
    padding: 0;
    margin: -10px 0 -10px 0;
  }

  p {
    margin-bottom: 0;

    span.min {
      color: #bbb8b8;
    }

    &.current {
      font-size: 65px;
      font-weight: 300;
      line-height: 60px;

      small.unit {
        font-size: 28px;
        color: #bbb8b8;
      }
    }

    &.temperatures {
      padding-bottom: 20px;
    }
  }
}
